<form action="/api/food-trucks" method="post">
    <fieldset>
        <legend>Add a new food truck</legend>
        <label>Name
            <input id="name" type="text" name="name" autocapitalize="words" autofocus required>
        </label>
        <br>
        <label>Description
            <input id="description" type="text" name="description" autocapitalize="sentences">
        </label>
        <br>
        Current Location
        <select id="location" name="location">
            <option value=""></option>
            <option value="1">Civic Center Park</option>
            <option value="2">Coors Field</option>
            <option value="3">Thomas and 9th</option>
            <option value="4">Denny Park</option>
            <option value="5">1stBank Center</option>
        </select>
        <br>
        <input class="btn btn-primary" id="submit" type="submit" value="Add this food truck">
    </fieldset>
</form>
<div class="container">
    <div class="row" id="foodTruckList">
        {{#each foodTruck}}
        <div id="{{ft_id}}" class="card col-md-6">
            <img src="https://maps.googleapis.com/maps/api/staticmap?markers={{loc_address}},{{loc_city}}+{{loc_state}}&zoom=14&size=600x300&format=PNG&maptype=roadmap&key=AIzaSyBueaHQo4UUWzFY9958zOy_qn5sWo3ODeo"
                class="card-img-top" alt="{{loc_name}}">
            <div class="card-body">
                <h4 class="card-title">{{ft_name}}</h4>
                <p class="card-text">{{ft_description}}</p>
                <button class="btn btn-outline-primary btn-sm" id="delete-{{ft_id}}" type="button">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="./js/foodTrucks.js"></script>

<!--
<table>
    <caption>Food Trucks</caption>
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Location</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Pecos Pit Bar-B-Que</td>
        <td>We are excited to announce your longtime local Seattle staple Pecos Pit BBQ has hit the street with it's shiny new food truck! Pecos Pit is known for our NW style slow roasted, wood smoked BBQ along side top notch service, and unlimited smiles (smiles on the house!) Our truck will be serving up everything from our trip down memory lane classic Frito Pies to our famous deliciously sloppy sandwiches. (Menu to change daily) Make sure to join us on any of our social medias to keep up to date on our food truck progress.</td>
        <td>Denny Park</td>
        <td><input type="submit" value="Delete"></td>
    </tr>
    <tr>
        <td>NaanSense</td>
        <td>Authentic Home-style Indian Food NaanSense food truck offers delicious Indian food, made from scratch every day, and always with the best ingredients and never with anything artificial. We are 2 chefs who set out to bring affordable, authentic, Indian food to the streets of Seattle. Sourced locally whenever possible, we prepare our food with only all natural ingredients and love. Follow us on Facebook or twitter for our awesome daily vegetarian and non-vegetarian specials. We hope to see and serve you soon.</td>
        <td>Thomas and 9th</td>
        <td><input type="submit" value="Delete"></td>
    </tr>
    <tr>
        <td>Biker Jim's Gourmet Dogs</td>
        <td>Biker Jim’s craveable concept pimps 15 gourmet sausages, ranging from wild boar and Alaskan reindeer to pheasant cordon bleu and an award-winning vegan dog. Toppings are limited only by your imagination, and we have a killer condiment bar with all the fixings, including locally made Elevation ketchup. Our proprietary dogs, served on fresh-baked-rolls, and sourced from the best purveyors, are plump and juicy, ridiculously good and a whole lot of fun to eat.</td>
        <td>Coors Field</td>
        <td><input type="submit" value="Delete"></td>
    </tr>
    <tr>
        <td>Migration Taco</td>
        <td>Migration Taco is Denver’s first and (we hope!) best vegan taco truck. Our menu includes delicious vegan tacos, nachos, mac & cheese, relleno rolls, burritos, and more, all made in house with organic and local ingredients when possible.</td>
        <td></td>
        <td><input type="submit" value="Delete"></td>
    </tr>
    </tbody>
</table>
!-->