<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newReview">Write a new food truck review</button>

<div class="modal fade" id="newReview" tabindex="-1" role="dialog" aria-labelledby="newReviewLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newReviewLabel">Write a new food truck review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="modalForm" novalidate>
                    <fieldset>
                        <div class="form-group">
                            Food Truck
                            <select class="form-control" id="food_truck_id" name="food_truck_id" required>
                                <option value=""></option>
                                    {{#each foodTruck}}
                                        <option value="{{ft_id}}">{{ft_name}}</option>
                                    {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            Location Visited
                            <select class="form-control" id="location_id" name="location_id">
                                <option value=""></option>
                                    {{#each location}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Date Visited
                                    <input class="form-control" id="date" type="date" name="date" required>
                                </label>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="col-form-label">Rating
                                    <input class="form-control" id="rating" type="number" name="rating" min="1" max="5" step="1">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Title
                                <input class="form-control" id="title" type="text" name="title" required>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" id="submit" form="modalForm" type="submit" value="Submit review">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<br>
Only show reviews for
<select name="foodtruckIdInput" required>
    <option value=""></option>
    {{#each foodTruck}}
        <option value="{{ft_id}}">{{ft_name}}</option>
    {{/each}}
</select>
<br>
Only show reviews with a rating of at least
<select name="minRatingInput" required>
    <option value=""></option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
</select> stars
<br>
Only show reviews written by
<input type="search" placeholder="Username" spellcheck="false" id="username">
<br>
<button>Filter</button>
<br>
<a id="reset" href="#reset">Reset filters</a>
<div class="container">
    <div class="accordion" id="reviewList"></div>
</div>
<script src="./js/reviews.js"></script>