<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
    <div class="form-group">
        <fieldset>
            <legend>Write a new food truck review</legend>
            Food Truck
            <select name="food_truck_id" required>
                <option value=""></option>
                {{#each foodTruck}}
                    <option value="{{ft_id}}">{{ft_name}}</option>
                {{/each}}
            </select>
            <br>
            Location Visited
            <select name="location_id">
                <option value=""></option>
                {{#each location}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <br>
            <label>Date Visited
                <input type="date" name="date" required>
            </label>
            <br>
            <label>Rating
                <input type="number" name="rating" min="1" max="5" step="1">
            </label>
            <br>
            <label>Title
                <input type="text" name="title" required>
            </label>
            <br>
            <label>Description
                <textarea name="description" cols="100" rows="5"></textarea>
            </label>
            <br>
            <input type="submit" value="Submit review">
        </fieldset>
    </div>
</form>
<br>
Only show reviews for
<select name="foodtruckIdInput" required>
    <option value=""></option>
    {{#each foodTruck}}
        <option value="{{ft_id}}">{{ft_name}}</option>
    {{/each}}
</select>
<br>
Only show reviews with a rating of at least
<select name="minRatingInput" required>
    <option value=""></option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
</select>
<br>
Only show reviews written by
<input type="search" placeholder="Username" spellcheck="false" id="username">
<br>
<button>Filter</button>
<br>
<a id="reset" href="#reset">Reset filters</a>
<table>
    <caption>Reviews</caption>
    <thead>
    <tr>
        <td>Username</td>
        <td>Date</td>
        <td>Rating</td>
        <td>Food Truck</td>
        <td>Title</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    {{#each review}}
        <tr>
            <td>{{cust_username}}</td>
            <td>{{rev_date}}</td>
            <td>{{rev_rating}}</td>
            <td>{{ft_vendor}}</td>
            <td>{{rev_title}}</td>
            <td>{{rev_description}}</td>
            <td><input type="submit" value="Update" id="{{rev_id}}"></td>
        </tr>
    {{/each}}
    </tbody>
</table>